image: tmaier/docker-compose:latest

services:
  - docker:dind

before_script:
  - docker info
  - docker-compose --version
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

test_backend:
  stage: test
  tags:
    - docker
  script:
    - docker-compose -f docker-compose.tests.yml up -d
    - sleep 15
    - docker-compose exec -T backend pytest

deploy_backend:
  stage: deploy
  tags:
    - docker
  script:
    - echo "Deploy script go here"
