version: '3.8'

services:
  emulate:
    build: ./emulate
    command: ["node", "script.js"]
    restart: always
    volumes:
      - ./emulate/:/usr/src/app/
    depends_on:
      - redis
      - backend
  backend:
    build: ./backend
    command: ["./wait-for-it.sh", "database:5432", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ./backend/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env.dev
    depends_on:
      - database
      - redis
  celery:
    build: ./backend
    command: celery -A lights worker -l INFO
    volumes:
      - ./backend/:/user/src/app/
    depends_on:
      - redis
      - database
  database:
    image: postgres:9.6.21-alpine
    volumes:
      - ./database/:/var/lib/postgresql/data/
    env_file:
      - ./backend/.env.dev
  redis:
    image: redis:6.2.1-alpine
